<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>CRUD App</title>
    </head>

    <style>
        html {
            background-color: black;
            color: white;
        }

        text {
            font-size: 24px;
        }
    </style>

    <body>
        <center>
            <h1>
                CRUD Application
            </h1>
        </center>
        <center>
            <h2>
                 Welcome to the CRUD application. 
            </h2>
            <text>
                To get started, choose a CRUD operation
            </text>
        </center>
            <h3>
                <center>
                    <button onclick="window.location.replace('items')">GET</button>
                    <button onclick="window.location.replace('post_item')">POST</button>
                    <!-- <button onclick="window.location.replace('put_elements')">PUT</button> -->
                    <!-- <button onclick="window.location.replace('delete_page')">DELETE</button> -->
                </center>
            </h3>
    </body>
</html>